[submodule "FE/FE/DOCUMENTATION-FRESHNESS-AUDITOR-AGENT-FE"]
	path = FE/FE/DOCUMENTATION-FRESHNESS-AUDITOR-AGENT-FE
	url = https://github.com/HacathonIndium/DOCUMENTATION-FRESHNESS-AUDITOR-AGENT-FE.git
